#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Yandex.Disk sync daemon 
Comment=Yandex.Disk sync daemon
Categories=Network
Exec=yandex-disk start
Terminal=false
Icon=/usr/share/yd-tools/icons/yd-128_g.png
GenericName=Yandex.Disk sync daemon
Name[ru]=Cервис синхронизации Yandex.Disk 
Name[el]=Υπηρεσία Yandex.Δίσκος
