[Desktop Entry]
Version=1.0
Type=Application
Name=Yandex.Disk sync daemon 
Comment=Yandex.Disk sync daemon
Exec=yandex-disk start
Terminal=false
Icon=/opt/yd-tools/icons/yd-128_g.png
GenericName=Yandex.Disk sync daemon
Name[ru]=Cервис синхронизации Yandex.Disk 
Name[el]=Αυτόματη εκκίνηση υπηρεσίας Yandex.Disk
