[Desktop Entry]
Version=1.0
Type=Application
Name=Yandex.Disk indicator
Comment=Yandex.Disk indicator
Categories=Network
Exec=yandex-disk-indicator
Terminal=false
Icon=/usr/share/yd-tools/icons/yd-128.png
GenericName=Yandex.Disk indicator
Name[ru]=Индикатор Yandex.Disk
Name[el]=Ένδειξη λειτουργίας του Yandex.Disk
Name[bg]=Yandex.Disk индикатор
Name[be]=Індыкатар Яндекс.Дыск 
