[Desktop Entry]
Version=1.0
Type=Application
Name=Yandex.Disk indicator autostart
Comment=Yandex.Disk indicator autostart
Path=/opt/yd-tools/
Exec=/opt/yd-tools/yandexDiskIndicator.py
Terminal=false
Icon=/opt/yd-tools/icons/yd-128.png
GenericName=
Name[ru]=Автозапуск индикатора Yandex.Disk
