[Desktop Entry]
Version=1.0
Type=Application
Name=Yandex.Disk indicator
Comment=Yandex.Disk indicator
Path=/opt/yd-tools/
Exec=/opt/yd-tools/yandexDiskIndicator.py
Terminal=false
Icon=/opt/yd-tools/icons/yd-128.png
GenericName=Yandex.Disk indicator
Name[ru]=Индикатор Yandex.Disk
Name[el]=Αυτόματη εκκίνηση τις ένδειξης Yandex.Disk
