[Desktop Entry]
Type=Service
ServiceTypes=all/allfiles
MimeType=all/all;
Actions=UnpublishFromYandex;
X-KDE-Priority=TopLevel
X-KDE-Icon=/usr/share/yd-tools/icons/yd-128_g.png
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Name=unpublish.desktop

[Desktop Action UnpublishFromYandex]
Name=Убрать из публикации через Яндекс.Диск
Icon=/usr/share/yd-tools/icons/yd-128_g.png
Exec=zenity --info --window-icon=/usr/share/yd-tools/icons/yd-128_g.png --ok-label="Закрыть" --title="Yandex.Disk" --text="Убрать из публикации через Yandex.disk: `yandex-disk unpublish %F`"
